*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li:before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked:before{
    background-image: url("images/checked.png");
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

/* I Phone 7 */
@media (min-width: 0px) and (max-width: 320px) {
    .container{
        min-height: 460px;
        height: 100%;
        width: 100%;
    }
    input{
        width: 80%;
    }
    button{
        width: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* NORMAL PHONE */
@media (min-width: 321px) and (max-width: 375px) {
    .container{
        min-height: 740px;
        height: 100%;
        width: 100%;
    }
    input{
        width: 60%;
    }
    button{
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* I PHONE 13 ONE PLUS*/
@media (min-width: 376px) and (max-width: 425px) {
    .container{
        min-height: 840px;
        height: 100%;
        width: 100%;
    }
}

/* I PHONE 13 MAX */
@media (min-width: 426px) and (max-width: 767px) {
    .container{
        min-height: 745px;
        height: 100%;
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .container{
        min-height: 1100px;
        height: 100%;
        width: 100%;
    }
}

/* Foldable Mobile */
@media (min-width: 1024px) and (max-width: 1439px) {
    .container{
        min-height: 610px;
        height: 100%;
        width: 100%;
    }
}
















